@use 'vars' as v;

/* Styling för HomePage-sidan */

//Omslutande wrapper
.fp-grid-wrap {
    padding: 0.5em;
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1.5em;

    h2 {
        font-style: italic;
    }

    //Divider
    img {
        width: 70%;
        display: block;
        margin: 4em auto;
    }
}

//Sidenav
.sideNav {
    li {
        margin-top: 0.5em;
    }

    a {
        color: white;

        &:hover {
            color: v.$gold;
        }
    }
}
